pyyaml >= 5.1
visualdl >= 2.2.0
opencv-python
tqdm
filelock
scipy
prettytable
sklearn == 0.0
pillow>=10.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
