scikit-image
numpy
paddlepaddle-gpu>=2.2.0
SimpleITK>=2.1.1
PyYAML
pynrrd
tqdm
visualdl
sklearn
filelock
nibabel
pydicom
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
